{% extends "RTGUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Vérification d'email{% endblock %}

{% block content %}
    <h1>Vérification d'email</h1>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock %}
