{% extends "RTGUserBundle::layout.html.twig" %}

{% block title %}Inscription - RTG{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    {% include "RTGUserBundle:Registration:register_content.html.twig" %}
{% endblock %}