<div class="col-md-10 col-md-offset-1 well">
    <a href="{{ href }}" target="_blank" title="{{ title }}"><img src="{{ asset('bundles/rtgapp/img/content/partners/'~logo) }}" alt="{{ title }}" class="center-block"/></a>
</div>