{% extends 'RTGAppBundle::layout.html.twig' %}

{% block title %}Message envoyé - RTG{% endblock %}

{% block content %}
<div class="bloc container">
    <h1>Message envoyé</h1>
    <p>Votre message nous a bien été transmis. Il sera lu et traité aussi rapidement que possible.</p>
    <a href="{{ path('rtg_app_page_index') }}" title="Accueil">Retour à la page d'accueil</a>
</div>
{% endblock %}
