{% extends 'RTGAppBundle::layout.html.twig' %}

{% block title %}RTG TV{% endblock %}

{% block content %}
    <div class="bloc container">
        <h1>RTG TV</h1>
        <div class="row-fluid">
            <div class="col-md-8">
                <iframe src="http://www.twitch.tv/restart_the_game/embed" class="twitch-iframe-video"></iframe>
                <a href="http://www.twitch.tv/restart_the_game?tt_medium=live_embed&tt_content=text_link" class="twitch-iframe-link">Watch live video from Restart_The_Game on www.twitch.tv</a>
            </div>
            <div class="col-md-4">
                <iframe src="http://www.twitch.tv/restart_the_game/chat?popout=" class="twitch-iframe-chat"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
