parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     mysql
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       restartthegame.com
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~
    contact_delivery_address: contact@restartthegame.com
    dev_delivery_address: fury473@gmail.com
    noreply_address: noreply@restartthegame.com
    site_address: site@restartthegame.com
    newsletter_address: newsletter@restartthegame.com

    locale:            fr
    secret:            secret

    brand_name: Restart The Game

    chat_port: 9009

    assets_version : v1.6.1

    chatdepot_api_url: 'https://chatdepot.twitch.tv'
    twitch_api_url: 'https://api.twitch.tv'
    twitch_channel: 'restart_the_game'
    twitch_client_id:     client_id
    twitch_client_secret: client_secret
    facebook_app_id: app_id

    recaptcha_api_url: https://www.google.com/recaptcha/api
    recaptcha_key: 6Le2dPkSAAAAACRpch-UdW9nN5RbYoH-VGX5c7-D
    recaptcha_secret: 6Le2dPkSAAAAAOPUQg5dFrVwMRRKX2ovUO-PAB99