parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     mysql
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       restartthegame.com
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~
    contact_delivery_address: contact@restartthegame.com
    dev_delivery_address: fury473@gmail.com
    noreply_address: noreply@restartthegame.com
    site_address: site@restartthegame.com
    newsletter_address: newsletter@restartthegame.com

    locale:            fr
    secret:            secret

    twitch_client_id:     client_id
    twitch_client_secret: client_secret
    facebook_app_id: app_id

#    assetic.cache.class: Assetic\Cache\ArrayCache