{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}News{% endtrans %}{% if category is defined %} - {{ category }}{% endif %}{% endblock %}

{% block content %}
    <h1>{% trans %}News{% endtrans %}{% if category is defined %} - {{ category }}{% endif %}</h1>
    {{ include('RTGBlogBundle:NewsArticle:list.html.twig', {'articles': articles}) }}
{% endblock %}