{% extends 'RTGSiteBundle::layout.html.twig' %}

{% block title %}Qui sommes nous ? - RTG{% endblock %}

{% block content %}
<div class="bloc container">
    <h1>{{ 'partners'|trans({}, 'menu') }}</h1>
    <div class="row">
        <div class="col-md-6 top">
            {{ include('RTGSiteBundle:Page:partner_vcard.html.twig', {'logo': 'engine-serv.png', 'href': 'http://www.engine-serv.com', 'title': 'Engine-Serv : Location de Serveur de jeux et vocaux'}) }}
        </div>
        <div class="col-md-6 top">
            {{ include('RTGSiteBundle:Page:partner_vcard.html.twig', {'logo': 'engine-serv.png', 'href': 'http://www.engine-serv.com', 'title': 'Engine-Serv : Location de Serveur de jeux et vocaux'}) }}
        </div>
    </div>
</div>
{% endblock %}
