<div class="col-md-10 col-md-offset-1 vcard">
    <a href="{{ href }}" target="_blank" title="{{ title }}"><img src="{{ asset('bundles/rtgsite/img/content/partners/'~logo) }}" alt="{{ title }}"/></a>
</div>