{% extends "RTGUserBundle::layout.html.twig" %}

{% block title %}Désinscription à la newsletter effectuée{% endblock %}

{% block content %}
    <h1>Désinscription à la newsletter effectuée</h1>
    <p>La désinscription de l'adresse e-mail <strong>{{ user.email }}</strong> a été effectuée.</p>
{% endblock %}
