textarea {
    box-sizing: border-box;
}

#body-wrapper {
    width: 960px;
    margin: auto;
}

textarea {
    min-width: 700px;
    max-width: 960px;
}

#body-wrapper .push {
    padding-bottom: 4em;
}

#main-menu {
    margin-top: 5px;
    margin-bottom: 50px;
}

#footer {
    padding: 10px 30px;
    text-align: center;
}

@media (max-width: 480px) {
nav#main-menu li {
        display: block;
        text-align: center;
    }
}

#banner img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#main-wrapper {
    padding: 10px 30px 15px 30px;
}

@media (min-width: 1280px){
    #main-wrapper {
        padding: 10px 50px 15px 50px;
    }
    
    #body-wrapper {
        width: 1170px;
        margin: auto;
    }
    
    textarea {
        min-width: 900px;
        max-width: 1070px;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    #body-wrapper {
        width: 700px;
        margin: auto;
    }
    
    textarea {
        min-width: 500px;
        max-width: 670px;
    }
}

@media (max-width: 767px) {
    h1{font-size:30px;}
    h2{font-size:25px;}
    h3{font-size:20px;}
    h4{font-size:18px;}
    h5{font-size:15px;}
    h6{font-size:13px;}
    #body-wrapper {
        font-size: 13px;
        width: 427px;
        margin: auto;
    }
    
    textarea {
        min-width: 300px;
        max-width: 397px;
    }
}

@media (max-width: 480px) {
    h1{font-size:27px;}
    h2{font-size:20px;}
    h3{font-size:17px;}
    h4{font-size:14px;}
    h5{font-size:13px;}
    h6{font-size:12px;}
    #body-wrapper {
        font-size: 12px;
        width: 260px;
        margin: auto;
    }
    
    textarea {
        min-width: 200px;
        max-width: 200px;
    }
}