{% extends 'RTGBlogBundle::layout.html.twig' %}

{% block title %}{% trans %}Competitions{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Competitions{% endtrans %}</h1>
    {{ include('RTGBlogBundle:CompetitionArticle:list.html.twig', {'article': article}) }}
{% endblock %}