.article-list {
    h2 {
        padding: 0;
        margin: 0 0 8px 0;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }

    a {
        span {
            color: @text-color;
        }
        &:hover {
            color: @brand-primary;
            span {
                color: @brand-primary;
            }
        }
    }
}

.article-list > .row-fluid > .col-md-6 {
    article {
        min-height: 101px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid @gray-darker;
    }
}

article {
    header {
        img {
            display: block;
            margin: 10px auto 22px auto;
        }
    }
}