hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #202020;
}

.table > thead > tr > th {
    border-bottom: 2px solid #202020;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #202020;
}

input, textarea, select,
input.form-control, textarea.form-control, select.form-control {
    background-color: #333;
    border-color: #111;
    color: #ccc;
}

input[type="file"] {
    background-color: inherit;
}

input:disabled, textarea:disabled, select:disabled,
input.form-control:disabled, textarea.form-control:disabled, select.form-control:disabled {
    background-color: #888;
}

input:disabled, textarea:disabled, select:disabled,
input:readonly, textarea:readonly, select:readonly,
input.form-control:disabled, textarea.form-control:disabled, select.form-control:disabled,
input.form-control:readonly, textarea.form-control:readonly, select.form-control:readonly {
    border-color: #eee;
    color: #555;
}

#disable_account {
    color: #d44949;
}